/* _SignatureSettings.css */
.sig-container {
    background-color: #fdfdfd;
    border: 2px dashed #cbd5e0;
    border-radius: 12px;
    position: relative;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

#sig-pad {
    display: block;
    cursor: crosshair;
    width: 100%;
    height: 250px;
    touch-action: none; /* جلوگیری از اسکرول صفحه هنگام امضا در موبایل */
}

.sig-actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }
