@font-face {
    src: url('./fonts/Vazir-Thin-FD-WOL.woff');
    font-family: 'Vazirmatn';
}


:root {
    --primary-soft: #eef2ff;
    --primary-main: #4f46e5;
    --success-soft: #ecfdf5;
    --success-main: #10b981;
    --warning-soft: #fffbeb;
    --warning-main: #f59e0b;
}

body {
    background-color: #f8fafc;
    
}