@model IEnumerable<OfficeAutomation.Models.User>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold"><i class="bi bi-people-fill text-primary"></i> مدیریت همکاران</h2>
    <a asp-action="Create" class="btn btn-primary rounded-pill px-4">
        <i class="bi bi-person-plus-fill"></i> افزودن کاربر جدید
    </a>
</div>

<div class="card shadow-sm border-0">
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th>نام و نام خانوادگی</th>
                    <th>ایمیل (نام کاربری)</th>
                    <th>وضعیت</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.FullName</td>
                        <td>@user.Email</td>
                        <td><span class="badge bg-success">فعال</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
